In [35]:
import numpy as np

In [302]:
x = {1,2,3},{2,1},{1,2,4,3},{2}

In [306]:
sorted(x)

[{2}, {1, 2}, {1, 2, 3}, {1, 2, 3, 4}]

In [307]:
import itertools

In [ ]:
itertools.permutations()

In [260]:
sorted(x)

[1, 3, 4, 5, 6]

In [294]:
x = {'0': ['frodo', 'fradi'], '1': ['frodo', 'crodo'], '2': ['abc123', 'frodoc'], '3': ['abc123', 'frodoc']}

In [299]:
x['0'].remove('frodo')

In [300]:
x

{'0': ['fradi'],
 '1': ['frodo', 'crodo'],
 '2': ['abc123', 'frodoc'],
 '3': ['abc123', 'frodoc']}

In [280]:
list(product(x.values()))

[(['frodo', 'fradi'],),
 (['frodo', 'crodo'],),
 (['abc123', 'frodoc'],),
 (['abc123', 'frodoc'],)]

In [284]:
res = {'0': ['frodo', 'fradi'], '1': ['abc123'], '2': '0', '3': '0', '4': '0', '5': '0', '6': '0', '7': '0'}

In [289]:
list(product(res[str(0)],res[str(1)],res[str(2)],res[str(3)],res[str(4)],res[str(5)],res[str(6)],res[str(7)]))

[('frodo', 'abc123', '0', '0', '0', '0', '0', '0'),
 ('fradi', 'abc123', '0', '0', '0', '0', '0', '0')]

In [277]:
list(x.values()

[['frodo', 'fradi'],
 ['frodo', 'crodo'],
 ['abc123', 'frodoc'],
 ['abc123', 'frodoc']]

In [51]:
x = np.array(x)

In [246]:
s = dict()

In [247]:
s[1] = 1

In [251]:
s = ['0', '0', '1']

In [252]:
for i in range(len(s)):
    if '0' in s:
        s.remove('0')
s

['1']

In [248]:
s

{1: 1}

In [250]:
s[1] s.setdefault(2,0)

0

In [243]:
s

1

In [226]:
from itertools import product

In [236]:
iterable1 = ['frodo', 'fradi']
iterable2 = ['frodo', 'abc123']
t = []

list(set(product(iterable1, iterable2, t)))

[]

In [52]:
x

array([1, 2, 3, 4, 5])

In [53]:
(x * (x > 3))

array([0, 0, 0, 4, 5])

In [57]:
np.count_nonzero((x > 3))

2

In [131]:
s = "asd"

In [133]:
s[1:1]

''

In [148]:
s = '111'

In [149]:
s = '0' + s[1:]

In [150]:
s

'011'

In [152]:
board = ['CCBDE', 'AAADE', 'AAABF', 'CCBBF']

In [159]:
saver = []
for i in range(4-1):
    for j in range(5-1):
        if board[i][j] == board[i][j+1] == board[i+1][j] == board[i+1][j+1]:
            saver.append([i,j])
        else:
            continue
print(board)
for x,y in saver:
    board[x] = board[x][:y] + '00' + board[x][y+2:]
    board[x+1] = board[x+1][:y] + '00' + board[x+1][y+2:]
print(board)

['CCBDE', 'AAADE', 'AAABF', 'CCBBF']
['CCBDE', '000DE', '000BF', 'CCBBF']

In [222]:
s = np.array([1, 2, 3,5,3,1,2,-1,0])

In [203]:
x = np.array([1,2,3]) -1

In [207]:
0 not in x

False

In [225]:
np.where( s <= 0)[0]

array([7, 8])

In [ ]:
import numpy as np

def solution(stones, k):
    count = 0
    stones = np.array(stones)
    while(True):
        zero = len(stones)-len(stones.nonzero()[0])
        if zero <= k:
            stones -= 1
            count += 1
            continue
        else:
            break
    print(stones)

In [219]:
len(s.nonzero()[0])

8

In [210]:
len(x)-len(x.nonzero()

2

In [170]:
s.count(1)

1

In [196]:
s.pop(2)

'3'

In [199]:
['1','2'] == s

True

In [197]:
s

['1', '2']

In [193]:
s = '123'

In [195]:
s = list(s)

In [189]:
t.('*')

AttributeError: 'str' object has no attribute 'remove'

In [191]:
t = "fr*d*123"

In [192]:
x=''
for i in [2,3, 4]:
    x = t[:i] + '*'
x+t[i:]

'fr*d**123'

In [181]:
t = t[:1] + '*' + t:

In [182]:
t

'f*'

In [171]:
s = "fr*d*"

In [177]:
s.index("r")

1

In [164]:
for i in range(5-1,-1,-1):
    print(i)

4
3
2
1
0

In [168]:
''.join(['0000E', '0000E', '000DF', '000DF']).count('0')

14

In [56]:
np.count_nonzero(x == 3)

1

In [59]:
score = {'a':1, 'b':2, 'c':3}

In [66]:
list(map(lambda x:x[1], sorted(score.items(), key=lambda t : t[1], reverse=True)))

[3, 2, 1]

In [61]:
score

{'a': 1, 'b': 2, 'c': 3}

In [67]:
relation = [["100", "ryan", "music", "2"], ["200", "apeach", "math", "2"], ["300", "tube", "computer", "3"], ["400", "con", "computer", "4"], ["500", "muzi", "music", "3"], ["600", "apeach", "music", "2"]]

In [68]:
import pandas as pd

In [70]:
df = pd.DataFrame(relation)

In [71]:
df

     0       1         2  3
0  100    ryan     music  2
1  200  apeach      math  2
2  300    tube  computer  3
3  400     con  computer  4
4  500    muzi     music  3
5  600  apeach     music  2

In [75]:
df[0].nunique() == len(df[0])

True

In [76]:
df[1].nunique() == len(df[1])

False

In [78]:
aa

4

In [86]:
df[1] + df[2]

0       ryanmusic
1      apeachmath
2    tubecomputer
3     concomputer
4       muzimusic
5     apeachmusic
dtype: object

In [121]:
x = np.array([1,2,3,-1])

In [122]:
np.count_nonzero(x==-1)

1

In [123]:
x = np.where(x==-1, 0, x)

In [124]:
food_times = [3,1,2]
k = 5

In [125]:
food_times = np.array(food_times)

In [126]:
while(True):
    if len(food_times) > k: break
    else:
        food_times -= 1
        k += np.count_nonzero(food_times==-1)
        food_times = np.where(food_times==-1, 0, food_times)
        k -= len(food_times)

In [127]:
food_times

array([2, 0, 1])

In [128]:
np.count_nonzero(food_times)

2

In [129]:
while(True):
    for i in range(len(food_times)):
        if food_times[i] != 0:
            food_times[i] -= 1
            k -= 1
        if k == -1:
            result = i+1
            break
    if k == -1 : break

In [130]:
result

1

In [113]:
x = np.array([10,0,5,0,0,0])
x

array([10,  0,  5,  0,  0,  0])

In [115]:
t = 5

In [117]:
t // np.count_nonzero(x)

2

In [118]:
x - (t // np.count_nonzero(x))

array([ 8, -2,  3, -2, -2, -2])

In [119]:
t -= (t // np.count_nonzero(x)) * np.count_nonzero(x)
t

1